# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET= 

NEXTAUTH_URL=http://localhost:3000

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Connect to Supabase via connection pooling.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=

